# Project 3

In this project, you will perform a logistic regression on the admissions data we've been working with in projects 1 and 2.

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

In [3]:
df_raw = pd.read_csv("../assets/admissions.csv")
df = df_raw.dropna() 
print df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables

In [4]:
# frequency table for prestige and whether or not someone was admitted
pd.crosstab(df.admit, df.prestige)

prestige  1.0  2.0  3.0  4.0
admit
0          28   95   93   55
1          33   53   28   12

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [194]:
#df_prestige = pd.get_dummies(df.prestige, prefix='prestige')

dummy_rank = pd.get_dummies(df.prestige, prefix='prestige')

dummy_rank.rename(columns = {'prestige_1.0': 'prestige_1',
                              'prestige_2.0': 'prestige_2',
                              'prestige_3.0': 'prestige_3',
                              'prestige_4.0': 'prestige_4'}, inplace = True)

dummy_rank.head()

   prestige_1  prestige_2  prestige_3  prestige_4
0           0           0           1           0
1           0           0           1           0
2           1           0           0           0
3           0           0           0           1
4           0           0           0           1

#### 2.2 When modeling our class variables, how many do we need?

Answer: K-1 , so in this case 3

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [195]:
cols_to_keep = ['admit', 'gre', 'gpa']
handCalc = df[cols_to_keep].join(dummy_rank.ix[:, 'prestige_1':])

handCalc.head()

   admit    gre   gpa  prestige_1  prestige_2  prestige_3  prestige_4
0      0  380.0  3.61           0           0           1           0
1      1  660.0  3.67           0           0           1           0
2      1  800.0  4.00           1           0           0           0
3      1  640.0  3.19           0           0           0           1
4      0  520.0  2.93           0           0           0           1

In [15]:
# crosstab prestige 1 admission 

pd.crosstab(handCalc.admit, handCalc.prestige_1)

prestige_1    0   1
admit
0           243  28
1            93  33

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

In [19]:
odds_admit_tier_1 = 33.00/28.00
odds_admit_tier_1

1.1785714285714286

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [22]:
odds_NO_admit_tier_1 = 93.00/243.00
odds_NO_admit_tier_1

0.38271604938271603

#### 3.3 Calculate the odds ratio

In [23]:
odds_admit_tier_1/odds_NO_admit_tier_1

3.079493087557604

#### 3.4 Write this finding in a sentenance:

Answer: The odds of admission for students who attended a tier 1 school are about 3x higher than the odds for students who didn't attend a tier 1 school.

#### 3.5 Print the cross tab for prestige_4

In [24]:
pd.crosstab(handCalc.admit, handCalc.prestige_4)

prestige_4    0   1
admit
0           216  55
1           114  12

#### 3.6 Calculate the OR

In [25]:
odds_admit_tier_4= 12.00/55.00
odds_NO_admit_tier_4 = 114.00/216.00
odds_admit_tier_4/odds_NO_admit_tier_4

0.4133971291866028

#### 3.7 Write this finding in a sentence

Answer: The odds of admission for students attending a tier 4 school are .4 times the odds of students who didn't attend a tier 4 school.

## Part 4. Analysis

In [196]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']
data = df[cols_to_keep].join(dummy_rank.ix[:, 'prestige_2':])
data.head()

   admit    gre   gpa  prestige_2  prestige_3  prestige_4
0      0  380.0  3.61           0           1           0
1      1  660.0  3.67           0           1           0
2      1  800.0  4.00           0           0           0
3      1  640.0  3.19           0           0           1
4      0  520.0  2.93           0           0           1

We're going to add a constant term for our Logistic Regression. The statsmodels function we're going to be using requires that intercepts/constants are specified explicitly.

In [197]:
# manually add the intercept
data['intercept'] = 1.0
data.head()

   admit    gre   gpa  prestige_2  prestige_3  prestige_4  intercept
0      0  380.0  3.61           0           1           0        1.0
1      1  660.0  3.67           0           1           0        1.0
2      1  800.0  4.00           0           0           0        1.0
3      1  640.0  3.19           0           0           1        1.0
4      0  520.0  2.93           0           0           1        1.0

#### 4.1 Set the covariates to a variable called train_cols

In [198]:
train_cols = data.columns[1:]

#### 4.2 Fit the model

In [199]:
#logit = sm.Logit(data['admit'], data[train_cols])
#result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

In [208]:
X = data[['gre', 'gpa', 'prestige_2', 'prestige_3', 'prestige_4',]]
X = sm.add_constant(X)
y = df['admit']
lm = sm.Logit(y, X)
result = lm.fit()
print df.admit.mean()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6
0.317380352645

#### 4.3 Print the summary results

In [209]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Sun, 11 Jun 2017   Pseudo R-squ.:                 0.08166
Time:                        11:41:13   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const         -3.8769      1.142     -3.393      0.001        -6.116    -1.638
gre            0.0022      0.001      2.028      0.043      7.44e-05     0.004
gpa            0.7793      0.333      2.344      0.019         0.128     1.431
prestige_2    -0.6801      0.317     -2.146      0.032        -1.301    -0.059
prestige_3    -1.3387      0.345     -3.882      0.000        -2.015    -0.663
prestige_4    -1.5534      0.417     -3.721      0.000        -2.372    -0.735
==============================================================================
"""

#### 4.4 Calculate the odds ratios of the coeffiencents and their 95% CI intervals

hint 1: np.exp(X)

hint 2: conf['OR'] = params
        
           conf.columns = ['2.5%', '97.5%', 'OR']

In [210]:
np.exp(result.params)

const         0.020716
gre           1.002221
gpa           2.180027
prestige_2    0.506548
prestige_3    0.262192
prestige_4    0.211525
dtype: float64

In [211]:
np.exp(result.conf_int(alpha = .05)).\
    rename(columns = {0: '2.5%', 1: '97.5%'})

                2.5%     97.5%
const       0.002207  0.194440
gre         1.000074  1.004372
gpa         1.136120  4.183113
prestige_2  0.272168  0.942767
prestige_3  0.133377  0.515419
prestige_4  0.093329  0.479411

#### 4.5 Interpret the OR of Prestige_2

Answer: The odds of admission for students from tier 2 schools are 0.5 the odds for students from tier 1 schools

#### 4.6 Interpret the OR of GPA

Answer: The odds of admission double for every 1 unit increase in GPA

## Part 5: Predicted probablities

As a way of evaluating our classifier, we're going to recreate the dataset with every logical combination of input values. This will allow us to see how the predicted probability of admission increases/decreases across different variables. First we're going to generate the combinations using a helper function called cartesian (above).

We're going to use np.linspace to create a range of values for "gre" and "gpa". This creates a range of linearly spaced values from a specified min and maximum value--in our case just the min/max observed values.

In [214]:
def cartesian(arrays, out=None):
    """
    Generate a cartesian product of input arrays.
    Parameters
    ----------
    arrays : list of array-like
        1-D arrays to form the cartesian product of.
    out : ndarray
        Array to place the cartesian product in.
    Returns
    -------
    out : ndarray
        2-D array of shape (M, len(arrays)) containing cartesian products
        formed of input arrays.
    Examples
    --------
    >>> cartesian(([1, 2, 3], [4, 5], [6, 7]))
    array([[1, 4, 6],
           [1, 4, 7],
           [1, 5, 6],
           [1, 5, 7],
           [2, 4, 6],
           [2, 4, 7],
           [2, 5, 6],
           [2, 5, 7],
           [3, 4, 6],
           [3, 4, 7],
           [3, 5, 6],
           [3, 5, 7]])
    """

    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [215]:
# instead of generating all possible values of GRE and GPA, we're going
# to use an evenly spaced range of 10 values from the min to the max 
gres = np.linspace(data['gre'].min(), data['gre'].max(), 10)
print gres
# array([ 220.        ,  284.44444444,  348.88888889,  413.33333333,
#         477.77777778,  542.22222222,  606.66666667,  671.11111111,
#         735.55555556,  800.        ])
gpas = np.linspace(data['gpa'].min(), data['gpa'].max(), 10)
print gpas
# array([ 2.26      ,  2.45333333,  2.64666667,  2.84      ,  3.03333333,
#         3.22666667,  3.42      ,  3.61333333,  3.80666667,  4.        ])


# enumerate all possibilities
combos = pd.DataFrame(cartesian([gres, gpas, [1, 2, 3, 4], [1.]]))

[ 220.          284.44444444  348.88888889  413.33333333  477.77777778
  542.22222222  606.66666667  671.11111111  735.55555556  800.        ]
[ 2.26        2.45333333  2.64666667  2.84        3.03333333  3.22666667
  3.42        3.61333333  3.80666667  4.        ]

#### 5.1 Recreate the dummy variables

In [216]:


# recreate the dummy variables
combos.columns = ['gre', 'gpa', 'prestige', 'intercept']
dummy_ranks = pd.get_dummies(combos['prestige'], prefix='prestige')
dummy_ranks.columns = ['prestige_1', 'prestige_2', 'prestige_3', 'prestige_4']
 
# keep only what we need for making predictions
cols_to_keep = ['gre', 'gpa', 'prestige', 'intercept']
combos = combos[cols_to_keep].join(dummy_ranks.ix[:, 'prestige_2':])
 
# make predictions on the enumerated dataset
combos['admit_pred'] = result.predict(combos[train_cols])
 
print combos.head()

     gre       gpa  prestige  intercept  prestige_2  prestige_3  prestige_4  \
0  220.0  2.260000       1.0        1.0           0           0           0
1  220.0  2.260000       2.0        1.0           1           0           0
2  220.0  2.260000       3.0        1.0           0           1           0
3  220.0  2.260000       4.0        1.0           0           0           1
4  220.0  2.453333       1.0        1.0           0           0           0

   admit_pred
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0

In [166]:
#combos.rename(columns = {0 : 'gre',
                         #1 : 'gpa',
                         #2 : 'prestige',
                         #3 : 'incercept'}, inplace = True)

# recreate the dummy variables

df_combos = pd.get_dummies(combos[2], prefix='prestige')

df_combos.rename(columns = {'prestige_1.0': 'prestige_1',
                              'prestige_2.0': 'prestige_2',
                              'prestige_3.0': 'prestige_3',
                              'prestige_4.0': 'prestige_4'}, inplace = True)


# keep only what we need for making predictions

#new_cols_to_keep = ['gre', 'gpa','intercept']

new_cols_to_keep = [1,2,3]

combos = combos[new_cols_to_keep].join(df_combos.ix[:, 'prestige_2':])

combos.rename(columns = {1 : 'gre',
                         2 : 'gpa',
                         3 : 'incercept'}, inplace = True)


combos.head()

        gre  gpa  incercept  prestige_2  prestige_3  prestige_4
0  2.260000  1.0        1.0           0           0           0
1  2.260000  2.0        1.0           1           0           0
2  2.260000  3.0        1.0           0           1           0
3  2.260000  4.0        1.0           0           0           1
4  2.453333  1.0        1.0           0           0           0

In [172]:
combos.tail()

          gre  gpa  incercept  prestige_2  prestige_3  prestige_4
395  3.806667  4.0        1.0           0           0           1
396  4.000000  1.0        1.0           0           0           0
397  4.000000  2.0        1.0           1           0           0
398  4.000000  3.0        1.0           0           1           0
399  4.000000  4.0        1.0           0           0           1

#### 5.2 Make predictions on the enumerated dataset

In [217]:
prediction = result.predict()
print prediction

[ 0.17377143  0.29085865  0.73403998  0.17881441  0.11991485  0.36981921
  0.42259655  0.21938212  0.2017101   0.51272065  0.36860803  0.40340662
  0.71636088  0.35348629  0.68855601  0.18697642  0.33539701  0.08152516
  0.53500429  0.57208391  0.16303319  0.43441744  0.12993975  0.19221761
  0.43530853  0.67923161  0.57736442  0.20391972  0.42136554  0.46026773
  0.21645733  0.28520959  0.22535242  0.41983282  0.34725889  0.21540447
  0.48567038  0.14162193  0.26728065  0.12203083  0.19330308  0.33561053
  0.31625495  0.1784736   0.32896787  0.18148001  0.36035816  0.11852932
  0.07437077  0.15220762  0.31270326  0.11765343  0.2382533   0.3775304
  0.24078168  0.38780127  0.18435144  0.11092902  0.30469306  0.12993975
  0.33108359  0.16790348  0.28179291  0.33035748  0.30756915  0.39457343
  0.27538999  0.51758495  0.57091228  0.69099955  0.33661755  0.07662735
  0.15142374  0.46183243  0.24153161  0.37732167  0.20511081  0.41983282
  0.43846746  0.64928661  0.16557698  0.31238013  0.20820405  0.08952896
  0.21404461  0.25331758  0.34557459  0.37429023  0.55780398  0.5061258
  0.49518845  0.63580068  0.56393487  0.27153299  0.39845077  0.37809273
  0.21973361  0.32961581  0.31872939  0.14822845  0.11853658  0.24110636
  0.12003716  0.27948758  0.49638445  0.35417426  0.61075068  0.25868173
  0.11458781  0.30928937  0.17925668  0.13693363  0.11116516  0.49091445
  0.348503    0.3250706   0.2906602   0.4737806   0.68598528  0.10105023
  0.38019993  0.19602489  0.13695074  0.14382165  0.35561391  0.16823796
  0.55305989  0.29443827  0.29463728  0.12402148  0.32935989  0.2763056
  0.34965178  0.15368703  0.26587754  0.21013768  0.16899513  0.36695552
  0.37008923  0.56075215  0.48140427  0.24340245  0.27204617  0.21770163
  0.18334545  0.15454216  0.30102734  0.13456074  0.36722291  0.5852518
  0.6926611   0.2620251   0.48335019  0.22577029  0.27600473  0.1284553
  0.20574696  0.49450192  0.40782656  0.33501688  0.3128942   0.39902428
  0.4428341   0.21826083  0.33214401  0.68855601  0.12684862  0.33622123
  0.27111345  0.25668152  0.16900489  0.13851776  0.2699407   0.47274172
  0.17221603  0.36465553  0.2039873   0.21034253  0.22357932  0.09937349
  0.2902384   0.21463082  0.52827992  0.40941169  0.10463887  0.50583623
  0.23870035  0.28452622  0.30216503  0.30028079  0.33582514  0.29620295
  0.14314009  0.37246684  0.37358579  0.20443218  0.11653665  0.25817128
  0.23050014  0.29708819  0.31508817  0.68855601  0.1909988   0.61911882
  0.37198857  0.62799342  0.5919224   0.17438143  0.36757449  0.23403608
  0.28562703  0.23837789  0.38900225  0.18489727  0.29681333  0.4950999
  0.36959291  0.37358579  0.18825828  0.35492468  0.38736022  0.32376812
  0.37234026  0.2909859   0.40334342  0.132535    0.30596952  0.42692531
  0.17085622  0.2094468   0.25353675  0.09948397  0.65676907  0.30904195
  0.40737971  0.10986132  0.27409676  0.19311076  0.56118938  0.19778774
  0.33802347  0.42318037  0.40285096  0.39043357  0.2477974   0.29520655
  0.2913523   0.19996515  0.17462716  0.42896577  0.18760018  0.26011343
  0.23415914  0.30330515  0.31826879  0.33895663  0.45811397  0.34870471
  0.24490356  0.17138036  0.31826879  0.2645317   0.14559809  0.15937227
  0.25966667  0.41290487  0.12826444  0.48529661  0.19428553  0.45306142
  0.5435622   0.27450418  0.2883269   0.2214969   0.54979616  0.17026665
  0.34395341  0.49443628  0.13371847  0.21799228  0.13461572  0.2811145
  0.17951802  0.60044856  0.25301985  0.23136322  0.06081174  0.37921836
  0.35075765  0.45886104  0.72945068  0.30476466  0.17812313  0.45714476
  0.24159407  0.34719937  0.27517274  0.36229899  0.27973609  0.22886748
  0.51331828  0.07433309  0.19045077  0.44808347  0.36938802  0.28501345
  0.12819549  0.29820158  0.4420918   0.30719119  0.19276952  0.17714375
  0.15734033  0.18774619  0.29506377  0.18632177  0.46936587  0.14830635
  0.32158487  0.12182526  0.17816286  0.12371064  0.66174391  0.38488369
  0.35375108  0.33909486  0.11531085  0.38780127  0.27816855  0.34563398
  0.2141484   0.20452028  0.59625793  0.16699868  0.16155511  0.45387225
  0.25978527  0.14138868  0.12920776  0.22396969  0.29203007  0.18981975
  0.14868683  0.35088099  0.42339906  0.25902232  0.2767842   0.57217063
  0.23739867  0.1828248   0.4351569   0.39815509  0.49976751  0.38801218
  0.57444314  0.25021404  0.3664      0.59726077  0.51024123  0.35403317
  0.29825838  0.4960063   0.12087818  0.12880035  0.26675934  0.62882253
  0.56201744  0.39628908  0.31502959  0.38169884  0.53119006  0.40883341
  0.18723587  0.41275534  0.58299512  0.20355513  0.22186303  0.46020249
  0.3454351   0.34896785  0.66921594  0.18995639  0.35628474  0.52320069
  0.34259671  0.33923312  0.40089462  0.40004215  0.48275283  0.22264311
  0.43559331  0.25246468  0.48394759  0.16741769  0.18439225  0.46020249
  0.29883169]

#### 5.3 Interpret findings for the last 4 observations

Answer:

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.